<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID"
         version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>
        OnionCrawler
    </display-name>
    <servlet>
        <servlet-name>
            snowServlet
        </servlet-name>
        <servlet-class>
            com.britesnow.snow.web.SnowServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            snowServlet
        </servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error?code=404</location>
    </error-page>
</web-app>